body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #282c34;
    color: #ffffff;
}

.clock-container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.border-rgb {
    position: relative;
    display: inline-block;
    padding: 1px;
    border-radius: 30px;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, purple);
    background-size: 400%;
    animation: rgb-border 3s linear infinite;
}

#clock {
    font-size: 5em;
    font-weight: bold;
    background: #333333;
    padding: 20px 40px;
    border-radius: 30px;
    color: #fff;
    position: relative;
    z-index: 1;
}

#date {
    font-size: 2.5em;
    margin-top: 20px;
}


/*Animação do gradiente*/
@keyframes rgb-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}